In [5]:
import numpy as np
from pandas import Series,DataFrame

import pandas as pd

In [2]:
# When you make a pivot table, ask yourself
# what information do I want to know?

In [7]:
# Import pandas testing utility
import pandas._testing as tm; tm.N = 3

# Create a unpivoted function

def unpivot(frame):
    N, K = frame.shape
    
    data = {'value':frame.values.ravel('F'),
           'variable':np.asarray(frame.columns).repeat(N),
           'date':np.tile(np.asarray(frame.index),K)}
    
#Return the DataFrame
    return DataFrame(data,columns = ['date','variable','value'])

# Set the DataFrame we will be using
dframe = unpivot(tm.makeTimeDataFrame())

In [8]:
dframe

          date variable     value
0   2000-01-03        A  0.466203
1   2000-01-04        A  0.977419
2   2000-01-05        A -0.048185
3   2000-01-06        A -0.628577
4   2000-01-07        A -0.852800
..         ...      ...       ...
115 2000-02-07        D  1.185149
116 2000-02-08        D -2.352605
117 2000-02-09        D  1.109284
118 2000-02-10        D  0.355742
119 2000-02-11        D  2.175403

[120 rows x 3 columns]

In [10]:
dframe_test_pv = dframe.pivot('date','variable','value')
dframe_test_pv
# dataframe.pivot(row,column,value to be filled)

variable           A         B         C         D
date
2000-01-03  0.466203 -0.870596  1.784816  1.320486
2000-01-04  0.977419 -1.849903  0.635624 -1.216294
2000-01-05 -0.048185 -1.075079 -0.364351  0.770625
2000-01-06 -0.628577 -1.294106 -0.586235  0.229577
2000-01-07 -0.852800 -1.151120 -1.111982  0.017481
2000-01-10  0.653238  1.372913  0.408571  0.309474
2000-01-11  0.870732  1.243971  0.585687 -0.327032
2000-01-12  1.613536  0.828373 -0.888871  0.411075
2000-01-13 -0.288709 -0.204360 -1.224418 -1.085063
2000-01-14  0.177557  0.353258 -0.465506 -0.461402
2000-01-17  2.744146  1.549577 -0.966466  0.025903
2000-01-18  1.001709  1.796138 -0.565272  0.789169
2000-01-19  0.083714  1.023961  0.721495  0.250633
2000-01-20 -0.506683 -2.093826  1.109287 -0.876768
2000-01-21 -0.375656 -1.545107  1.843019 -0.600961
2000-01-24 -0.655307 -0.534544  1.104798  0.345566
2000-01-25  0.020736  0.662374  0.297754 -0.039660
2000-01-26 -0.328025 -1.064491  0.441889 -0.456429
2000-01-27 -0.524376 -0.659027 -0.980240  0.054502
2000-01-28  0.895311  0.355971  0.331759 -0.267222
2000-01-31  1.264279 -0.401706 -1.611226  0.777513
2000-02-01 -0.374058  0.909064 -0.450441  0.171583
2000-02-02  0.709179 -1.411814  1.850377 -2.406449
2000-02-03  0.868050 -0.049360  1.346471 -0.641725
2000-02-04  0.095900  1.053231 -0.406664 -0.467750
2000-02-07 -0.526094 -0.909408  0.034745  1.185149
2000-02-08  0.221572  1.001884 -0.307522 -2.352605
2000-02-09  0.141409 -1.284327  0.566044  1.109284
2000-02-10  0.709216  0.244665 -0.254163  0.355742
2000-02-11  0.772214  0.365001 -1.189003  2.175403